.Part1 {
    background-color: #171923;
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
}

.Part1 h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: rgba(75,131,255,1);
}

.Part1 p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: lighter;
}

.Part1 button {
    border: none;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

.Part1 button:hover {
    background-color: #0056b3;
}
.Part1 img{
    padding-top: 50px;
}
